.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/sprites.png);

    &.ic_b_edit {
        background-position: 0 -224px;
    }

    &.ic_b_drop {
        background-position: 0 -208px;
    }

    &.ic_s_asc {
        background-position: 0 -2032px;
    }

    &.ic_s_desc {
        background-position: 0 -2144px;
    }
}
