@import '../../partials/import';
@import 'positions';

p {
    text-align: justify;
}

table.show {
    margin: 0;

    td {
        div {
            overflow-y: auto;
            max-height: 150px;
        }

        &.title {
            font-weight: bold;
            white-space: nowrap;
        }

        &.content {
            width: 100%;
        }
    }
}

.card p:last-child {
    margin-bottom: 0;
}

.admin-actions {
    .form-control {
        width: auto;
        display: inline-block;
    }

    .btn,
    .btn-group {
        vertical-align: inherit;
    }

    > div {
        display: flex;
        justify-content: space-between;
    }
}

.filter-search {
    flex-wrap: wrap;
    margin-bottom: 8px;

    > div {
        margin-top: 8px;
    }
}

