APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_URL=http://localhost
APP_TIMEZONE=UTC
APP_LOCALE=en

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=
MAIL_ENCRYPTION=null

CAPTCHA_SITE_KEY=
CAPTCHA_SECRET_KEY=

PAGINATION_STEP=10
PAGINATION_MAX=100

# APP_DEBUG=true
DEBUGBAR_ENABLED=false

GC_READ_STATUS_DAYS=30
REFRESH_ONLINE_USERS_MINUTES=5
