*.bak
public_html/**/styles/css

*.cab
*.msi
*.msm
*.msp
*.lnk
*.stackdump
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

.idea/
cmake-build-debug/
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
/.rakeTasks
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties