@charset "UTF-8";
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 0.60 !important;
  filter: Alpha(Opacity=60) !important;
}

button {
  cursor: pointer;
}

.no-bullets, aside ul,
header ul,
footer ul,
.top-box ul,
.post-info ul,
.captionbar ul,
.usersbrowsing ul, ul.buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#btn-follow {
  white-space: nowrap;
}
#btn-follow button {
  padding: 5px 10px;
}
#btn-follow span {
  margin-left: 5px;
  padding-left: 28px;
}
#btn-mark-read {
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: left center;
}
#btn-reply {
  padding: 6px 12px;
  margin-left: 15px;
}
#btn-profile, #btn-messages {
  width: 54px;
  padding: 0 !important;
}
#btn-profile span, #btn-messages span {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#btn-back2top {
  left: 50%;
  width: 25px;
  height: 25px;
  bottom: 20px;
  display: none;
  z-index: 9999;
  position: fixed;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 30%;
}
#btn-back2top span {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

body .content-container {
  display: block;
}
body.has-sidebar .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body.has-sidebar main {
  width: 70%;
}

a {
  text-decoration: none;
}

fieldset {
  margin-bottom: 5px;
}

legend {
  padding-right: 5px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input, textarea, select, button {
  font: inherit;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

header,
footer,
section {
  margin-bottom: 20px;
}

footer {
  margin-top: 50px;
}

.header-top {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-top .logo {
  width: 234px;
  height: 59px;
  background-repeat: no-repeat;
  background-position: center center;
}
.header-top .logo a {
  width: 100%;
  height: 100%;
  display: block;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px;
}
.search-form .searchquery {
  border: 0;
  width: 250px;
  height: 35px;
  display: block;
  padding: 0 0 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.search-form .searchbtn {
  border: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  display: block;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-navigation a {
  height: 45px;
  padding: 0 15px;
  display: table-cell;
  vertical-align: middle;
}
.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-navigation form {
  height: 100%;
}

.forum-stats ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.forum-stats li {
  margin-right: 20px;
}
.forum-stats li:last-child {
  margin-right: 0;
}
.forum-stats strong {
  padding: 2px 5px;
  display: inline-block;
  margin-right: 2px;
}

.online-users {
  padding: 10px;
  border: 1px solid;
}
.online-users ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.online-users .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.online-users .info li {
  margin-left: 15px;
}
.online-users .list {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.online-users .list li:after {
  content: ",  ";
}
.online-users .list li:last-child:after {
  content: "";
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-links div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}
.footer-links li {
  margin-right: 15px;
}

main > .post-list {
  margin: 0;
  padding: 0;
}

aside {
  width: 30%;
  padding-left: 10px;
}
aside section > .title {
  margin: 0;
  padding: 9px;
}
aside section > .content {
  padding: 10px;
}
aside section > .content p:first-child {
  margin-top: 0;
}
aside section > .content p:last-child {
  margin-bottom: 0;
}
aside section:last-child {
  margin-bottom: 0;
}

.sidebar-populartags li {
  margin-right: 5px;
  display: inline-block;
}

.sidebar-recentstatuses .updates {
  display: block;
  margin-top: 15px;
}
.sidebar-recentstatuses .status {
  width: 100%;
}
.sidebar-recentstatuses .status p {
  margin: 3px 0 4px;
}

.sidebar-tellafriend p {
  margin-top: 0;
}
.sidebar-tellafriend textarea,
.sidebar-tellafriend input[type="email"] {
  width: 100%;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.sidebar-tellafriend textarea {
  resize: vertical;
  min-height: 38px;
  max-height: 150px;
}
.sidebar-tellafriend input[type="submit"] {
  padding: 4px 8px;
}

.sidebar-newmessages .post-list li {
  margin-bottom: 10px;
}

.main-table {
  width: 100%;
  margin-bottom: 20px;
}
.main-table:last-child {
  margin-bottom: 0;
}
.main-table td {
  width: 30%;
  padding: 15px 30px;
  white-space: nowrap;
}
.main-table td:first-child {
  width: 100%;
  padding-right: 0;
  position: relative;
}
.main-table td:first-child:not(.post-none) {
  padding-left: 50px;
}

.table-row .icon {
  top: 50%;
  left: -28px;
  width: 71px;
  height: 47px;
  display: block;
  position: absolute;
  -webkit-transform: translateY(-20.5px);
          transform: translateY(-20.5px);
  background-repeat: no-repeat;
}
.table-row .name {
  margin-bottom: 12px;
  white-space: pre-line;
  display: inline-block;
}

.subforum-list {
  margin-top: 5px;
  list-style-type: none;
  padding-left: 15px;
}
.subforum-list li {
  margin-top: 3px;
}

.sort-bar {
  margin-bottom: 0;
}
.sort-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sort-bar li {
  margin-right: 10px;
}
.sort-bar a {
  display: block;
  padding: 0 5px;
}

.top-box {
  padding: 5px;
  margin: 8px 0;
  border-radius: 2px;
  margin-bottom: 30px;
}
.top-box .path li:after {
  content: "  →  ";
}
.top-box .path li:last-child:after {
  content: "";
}

.page-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-info .title {
  width: 100%;
}
.page-info .title h1 {
  margin: 0 50px 10px 0;
  font-weight: 500;
}
.page-info .desc {
  margin: 0 0 10px 0;
}
.page-info .mods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-info .mods ul {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-info .mods ul li:after {
  content: ",  ";
}
.page-info .mods ul li:last-child:after {
  content: "";
}

.page-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-buttons .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-buttons .pages ul {
  margin-left: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.page-buttons .pages li {
  margin-right: 5px;
}
.page-buttons .pages a {
  padding: 5px;
  border-radius: 5px;
}

.permissions {
  padding: 10px;
  margin-top: 80px;
}
.permissions .usersbrowsing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.permissions .usersbrowsing div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.permissions .usersbrowsing ul {
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.permissions .usersbrowsing ul li:after {
  content: ",  ";
}
.permissions .usersbrowsing ul li:last-child:after {
  content: "";
}
.permissions .list li {
  margin-top: 5px;
}

.fa-header-2 {
  font-size: 0.85em !important;
}

.fa-header-3 {
  font-size: 0.7em !important;
}

.emojionearea {
  width: 32px !important;
}

.post-container {
  padding: 6px;
}

.post-box {
  padding: 6px;
  margin-top: 10px;
}
.post-box:first-child {
  margin-top: 0;
}

.post-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 200px;
}

.post-user,
.post-main {
  padding: 10px;
}

.post-user {
  width: 15%;
  text-align: center;
}
.post-user p {
  margin: 2px 0;
}

.post-main {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post-main .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.post-main .buttons li {
  margin-left: 10px;
}

div[aria-describedby="sheditor"] {
  z-index: 200;
  position: fixed;
  font-size: 14px;
}

.fieldset-toggle {
  cursor: pointer;
}

#sheditor {
  padding: 10px;
  overflow-y: auto;
}
#sheditor h4 {
  margin: 0.5em 0;
}
#sheditor .jui-accordion {
  margin-top: 15px;
}

#target-select {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#target-select .pseudo {
  margin-left: 10px;
}

.evo-cp-wrap {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.evo-colorind {
  margin-left: 10px;
}

div[data-property] {
  margin-top: 10px;
}
div[data-property]:first-child {
  margin-top: 0;
}

.ui-widget-overlay {
  z-index: 100 !important;
}

.rules {
  padding: 5px;
  color: black;
  overflow-y: auto;
  max-height: 300px;
  background-color: white;
  border: 1px solid black;
}
.rules p:first-child {
  margin-top: 0;
}
.rules p:last-child {
  margin-bottom: 0;
}

.inputform {
  margin-top: 10px;
}
.inputform input:not([type=checkbox]):not([type=radio]) {
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.textarea-title-row {
  margin-bottom: 10px;
}
.textarea-title-row label {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 3px;
  display: inline-block;
}
.textarea-title-row input {
  width: 100%;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.textarea-submit-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

fieldset p {
  margin-top: 0;
}

.profile-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile-display .info {
  margin-left: 10px;
}

.online-status {
  width: 15px;
  height: 15px;
}

h2 .online-status {
  padding-left: 5px;
}

.avatar-small, .avatar-medium, .avatar-big {
  display: block;
}
.avatar-small {
  width: 34px;
  height: 34px;
}
.avatar-medium {
  width: 100px;
  height: 115px;
}
.avatar-big {
  width: 150px;
  height: 172px;
}

.required-star {
  color: red;
  font-weight: bold;
}

.captionbar {
  line-height: 38px;
  padding-left: 15px;
}

.focused,
tr.focused td {
  z-index: 150;
  position: relative;
}

#center-page-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1100px;
}

.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post-info:first-child {
  margin-top: 0;
}
.post-info:last-child {
  margin-bottom: 0;
}
.post-info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post-info img {
  padding-right: 8px;
}

.post-list {
  list-style-type: none;
}
.post-list li {
  padding-left: 12px;
  background-repeat: no-repeat;
  background-position: left center;
}
