.icon {
    border     : 0;
    width      : 16px;
    height     : 16px;
    margin     : 0 2px 0 0;
    display    : inline-block;
    background : url(../../images/sprites-database.png) no-repeat;

    &:hover {
        cursor : pointer;
    }

    &-sort {
        right    : 5px;
        position : absolute;
    }

    &-delete {
        background-position : 0 -208px;
    }

    &-clear {
        background-position : 0 -240px;
    }

    &-insert {
        background-position : 0 -512px;
    }

    &-update {
        background-position : 0 -224px;
    }

    &-visible {
        background-position : 0 -1728px;
    }

    &-invisible {
        background-position : 0 -1744px;
    }

    &-ascending {
        background-position : 0 -2016px;
    }

    &-descending {
        background-position : 0 -2128px;
    }

    &-okay {
        background-position : 0 -2288px;
    }

    &-cancel {
        background-position : 0 -2064px;
    }
}
