@import '../partials/import';

nav {
    margin-bottom: 15px;

    .list-group {
        @include margins-but(first, top, 10px);
    }

    .list-group-item {
        padding: 0;
        a {
            @include full-block;
            padding: .75rem 1.25rem;
        }
        &.active a {
            color: #fff;
        }
    }
}

table.info {
    td {
        div {
            overflow-y: auto;
            max-height: 150px;
        }

        &:first-child {
            font-weight: bold;
            white-space: nowrap;
        }

        &:nth-child(2) {
            width: 100%;
        }
    }
}

.actions {
    .pagination {
        margin-right: 10px;
    }
}
