@import '../general/import';

nav {
    margin-bottom: 15px;

    .list-group {
        @include margins-but(first, top, 10px);
    }

    .list-group-item {
        padding: 0;
        a {
            display: block;
            padding: .75rem 1.25rem;
        }
        &.active a {
            color: #fff;
        }
    }
}

table.show {
    margin: 0;

    td {
        div {
            overflow-y: auto;
            max-height: 150px;
        }

        &:first-child {
            font-weight: bold;
            white-space: nowrap;
        }

        &:nth-child(2) {
            width: 100%;
        }
    }
}

#overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    display: none;
    z-index: 10000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.actions {
    margin-bottom: 10px;

    .pagination {
        margin-right: 10px;
    }
}
