@import '../partials/import';

nav {
    .list-group {
        @include margins-but(first, top, 10px);
    }
    .list-group-item {
        padding: 0;
        a {
            @include full-block;
            padding: .75rem 1.25rem;
        }
        &.active a {
            color: #fff;
        }
    }
}

table.info {
    td {
        &:first-child {
            font-weight: bold;
            white-space: nowrap;
        }

        &:nth-child(2) {
            width: 100%;
        }
    }
}
