@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "partials/import";
@import "~bootstrap/scss/bootstrap";

button,
select {
    cursor: pointer;
}

th[data-column] {

    .fa-search {
        cursor: pointer;
    }

    &:not([data-search]) {
        .fa-search {
            color: silver;

            &:hover {
                color: darkgray;
            }
        }
    }

    &:not([data-order]) {
        .fa-caret-up,
        .fa-caret-down {
            display: none;
        }
    }

    &[data-order=asc] {
        .fa-caret-down {
            display: none;
        }
    }

    &[data-order=desc] {
        .fa-caret-up {
            display: none;
        }
    }

}

#overlay {
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 100%;
    opacity: 0.3;
    display: flex;
    z-index: 10000;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

a.sceditor-button {
    &-undobtn div {
        background-size: cover;
        background-image: url('/img/icon_undo.png');
    }

    &-redobtn div {
        background-size: cover;
        background-image: url('/img/icon_redo.png');
    }
}


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

    .navbar-toggler {
        padding: 0.25rem 0.45rem;
    }

    .navbar-toggler-icon {
        width: 1.24em;
    }
}

.home-links {
    margin-top: 10px;
    list-style-type: none;

    li:before {
        content: "#{$RDQUOTE}#{$SPACE}";
    }
}

.sort-link {
    margin: 0 8px 0 2px;
}

.thead-dark {
    a {
        color: $c-captionlink;

        &:hover {
            color: $c-captionlink-hover;
        }
    }
}
