@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "app/variables";
@import "app/helpers";
@import "app/icons";

@import '~bootstrap/scss/bootstrap';

button,
select {
  cursor: pointer;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
