body {
    font-size: 14px;
    background: #fafafa;
    font-family: 'Poppins', sans-serif;
}

p {
    color: #999;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    font-family: 'Poppins', sans-serif;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

main.py-4 {
    padding: 0 20px;
    margin-left: $sidebarL;
    padding-top: 70px !important;
}
