#sidebar {
    top: 0;
    left: 0;
    color: #fff;
    z-index: 999;
    height: 100vh;
    position: fixed;
    width: $sidebarL;
    background: #7386D5;
    transition: all 0.3s;

    h3 {
        text-align: center;
    }

    strong {
        display: none;
        font-size: 1.8em;
    }

    .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    .fa-fw {
        margin-right: 2px;
    }

    .fa-caret-up,
    .fa-caret-down {
        float: right;
    }

    p {
        color: #fff;
        padding: 10px;
    }

    a {
        padding: 10px;
        color: inherit;
        display: block;
        font-size: 1.1em;

        &:hover {
            color: #7386D5;
            background: #fff;
        }

        &[data-toggle="collapse"] {
            position: relative;
        }
    }

    li.active > a {
        color: #fff;
        background: #6d7fcc;
    }

    ul {
        margin: 0;

        ul a {
            font-size: 1em;
            padding-left: 30px;
        }

        &.components {
            padding: 0 0 20px 0;
        }

        &.CTAs {
            padding: 20px;
            border-top: 1px solid #47748b;

            a {
                display: block;
                text-align: center;
                border-radius: 5px;
                margin-bottom: 5px;
                font-size: 0.9em !important;

                &.white {
                    background: #fff;
                    color: #7386D5;
                }

                &.blue,
                &.blue:hover {
                    color: #fff !important;
                    background: #6d7fcc !important;
                }

            }
        }

    }

}
