.horizontal {
    table {
        overflow: auto;
        position: absolute;
    }

    th div {
        display: flex;
        justify-content: space-between;
    }

    td {
        vertical-align: middle;

        &.nowrap {
            text-align: center;
        }

        div {
            overflow-y: auto;
            max-height: 110px;
        }
    }

    a {
        color: #fff;
    }
}

.vertical {
    display: none;

    ul {
        margin: 0;
    }

    .table {
        table-layout: auto;
    }

    td:last-child {
        width: 100%;
    }

    .line {
        margin: 20px 0;

        &:last-child {
            display: none;
        }
    }
}
