// $child - koje dete (first, last, both) ne treba da ima marginu
// $side - sa koje strane se udara margina (top, right, bottom, left)
// $amt - kolika je margina
@mixin margins-but($child, $side, $amt) {
  margin-#{$side}: $amt;

  @if $child == "last" or $child == "both" {
    &:last-child {
      margin-#{$side}: 0;
    }
  }

  @if $child == "first" or $child == "both" {
    &:first-child {
      margin-#{$side}: 0;
    }
  }
}

@mixin full-block {
  width   : 100%;
  height  : 100%;
  display : block;
}

@mixin comma-separated-list {
  display : flex;

  li {
    &:after {
      content : ",#{$NBSP} ";
    }
    &:last-child:after {
      content : "";
    }
  }
}

@mixin hide-text {
  overflow    : hidden;
  text-indent : 100%;
  white-space : nowrap;
}
