form.profile fieldset {
    padding: 10px;
    padding-bottom: 0;
    border-radius: 10px;
    border: 1px solid $bc-main;
    background-color: $bgc-main;
    @include margins-but(last, bottom, $m-main);
}

table.users .about {
    width: 100%;
}

select[name=perPage] {
    width: auto;
    display: inline-block;

    &:first-child {
        margin-bottom: 15px;
    }

    &:nth-child(2) {
        margin-top: 15px;
    }
}

.edit-profile {
    padding: 10px;
}

.show-profile {
    section {
        display: flex;
        flex-wrap: wrap;
    }

    dl {
        margin-left: $m-main;
    }
}

@media screen and (max-width: 630px) {
    table.users .about {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    table.users {
        td {
            padding: 2px;
        }
    }
}
