form.profile fieldset {
    padding: 10px;
    padding-bottom: 0;
    border-radius: 10px;
    border: 1px solid $bc-main;
    background-color: $bgc-main;
    @include margins-but(last, bottom, $m-main);
}

.edit-profile {
    padding: 10px;
}

.show-profile {
    section {
        display: flex;
        flex-wrap: wrap;
    }

    dl {
        margin-left: $m-main;
    }
}

.banning {
    display: flex;

    .form-group {
        width: 100%;
        display: block;

        &.not-banned-on {
            margin-right: 10px;
        }

        &.banned-on {
            margin-left: 10px;

            label {
                float: right;
            }
        }
    }

    .buttons {
        button {
            display: block;
            @include margins-but(last, bottom, 10px);
        }
    }
}

@media screen and (max-width: 400px) {
    table.users {
        td {
            padding: 2px;
        }
    }
}
