@import "../partials/import";
@import "users";

.board {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    &:last-child {
        border-bottom: 0;
    }

    @include margins-but(first, top, $m-main);
}

.directories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.directory {
    width: 25%;
    height: 150px;
    min-width: 200px;
    word-wrap: normal;
    text-align: center;
    margin-bottom: $m-main;

    a {
        @include full-block;

        display: flex;
        flex-flow: column;
        border-radius: 5px;
        text-decoration: none;
        justify-content: center;

        &:hover {
            color: #fff;
            background-color: #369fcf;

            p {
                color: #fff;
            }
        }
    }

    p {
        color: #333;
        font-size: 1.1em;
    }
}

.card-header-directory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
        margin: 0;
    }

    .button {
        display: flex;
        align-items: center;
    }
}
