.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(/img/sprites/phpMyAdmin.png);
}

.icon.ic_b_edit {
  background-position: 0 -224px;
}

.icon.ic_b_drop {
  background-position: 0 -208px;
}

.icon.ic_s_asc {
  background-position: 0 -2032px;
}

.icon.ic_s_desc {
  background-position: 0 -2144px;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

button,
select {
  cursor: pointer;
}

table {
  margin-top: 10px;
}

#overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  display: none;
  z-index: 10000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

