#btn {

    &-follow {
        white-space : nowrap;

        button {
            padding : 5px 10px;
        }

        span {
            margin-left  : 5px;
            padding-left : 28px;
        }
    }

    &-mark-read {
        padding-left        : 18px;
        background-repeat   : no-repeat;
        background-position : left center;
    }

    &-reply {
        padding     : 6px 12px;
        margin-left : 15px;
    }

}
