.footer-links {
    display: flex;
    justify-content: space-between;

    div:first-child {
        display: flex;
    }

    ul {
        display: flex;
        margin-left: 15px;
    }

    li {
        margin-right: 15px;
    }
}
