.main-table {
    width: 100%;
    @include margins-but(last, bottom, 20px);

    caption {
        caption-side: top;
    }

    border: 1px solid black; // temp
    td {
        border: 1px solid black;
    }

    td {
        padding: 15px 30px;
        white-space: nowrap;
        &.icon {
            padding: 0;
        }
        &.main-info {
            width: 100%;
            padding-right: 0;
            position: relative;
            .name {
                white-space: pre-line;
                display: inline-block;
            }
        }
        &.side-info {
            width: 30%;
        }
    }

    .iconpost {
        vertical-align: baseline;
    }

    .subforums {
        display: flex;
    }

    .subforum-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }

    .sort-bar {
        margin-bottom: 0;

        ul {
            display: flex;
        }

        li {
            margin-right: 10px;
        }

        a {
            display: block;
            padding: 0 5px;
        }
    }

    .post-info {
        display: flex;
        margin: 10px 0;
        align-items: center;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .title {
            display: flex;
            justify-content: space-between;
        }

        img {
            padding-right: 8px;
        }
    }

    .post-list {
        list-style-type: none;
        li {
            padding-left: 8px;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
}
