.main-table {
    width: 100%;
    margin-top: 10px;
    border: 1px solid $bc-maintable;
    background-color: $bgc-maintable;
    @include margins-but(last, bottom, 20px);

    a {
        color: $c-maintablelink;

        &:hover {
            color: $c-maintablelink-hover;
        }
    }

    caption {
        font-size: 1.05em;
        caption-side: top;
        background-color: $bgc-caption;

        a {
            color: $c-captionlink;

            &:hover {
                color: $c-captionlink-hover;
            }
        }
    }

    tr {
        border: 1px solid $bc-maintable;
    }

    td {
        padding: 5px 10px;
        white-space: nowrap;

        &.icon {
            padding: 0;
            text-align: center;

            img {
                width: 64px;
            }
        }

        &.main-info {
            width: 100%;
            padding-right: 0;
            position: relative;

            .name {
                font-size: 1.05em;
                font-weight: bold;
                white-space: pre-line;
                display: inline-block;
            }
        }

        &.side-info {
            width: 30%;
        }
    }

    .iconpost {
        vertical-align: baseline;
    }

    .subforums {
        display: flex;
    }

    .subforum-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }

    .sort-bar {
        margin-bottom: 0;

        ul {
            display: flex;
        }

        li {
            margin-right: 10px;
        }

        a {
            display: block;
            padding: 0 5px;
        }
    }

    .post-info {
        display: flex;
        margin: 10px 0;
        align-items: center;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .title {
            display: flex;
            justify-content: space-between;
        }

        img {
            padding-right: 8px;
        }
    }

    .post-list {
        list-style-type: none;
        li {
            padding-left: 8px;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
}
