$c-submitsearch: #000;
$c-advancedsearch: #000;
$c-captionlink: #fff;
$c-captionlink-hover: darken($c-captionlink, 5%);
$c-maintablelink: #574440;
$c-maintablelink-hover: lighten($c-maintablelink, 5%);
$c-cardheader: #fff;

$bc-search: #e6e6e6;
$bc-maintable: #e6e6e6;

$bgc-cardheader: #2e3539;
$bgc-submitsearch: #eef1f3;
$bgc-advancedsearch: #e6e9eB;
$bgc-caption: #41a7e0;
$bgc-maintable: #fff;
