.p-main {
    padding: $p-main !important;
}

.bgc-main {
    background-color: $bgc-main !important;
}

.flex-center-xy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
