@mixin full-block {
    width: 100%;
    height: 100%;
    display: block;
}

@mixin no-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

@mixin unstyle-list {
    margin: 0;
    @include list-unstyled;
}

@mixin comma-separated-list {
    display: flex;
    li {
        &:after {
            content: ",#{$NBSP} ";
        }
        &:last-child:after {
            content: "";
        }
    }
}

/// @output Gives a margin on one side to all elements, except one child.
/// @param {string} $child - first/last/both
/// @param {string} $side - top/right/bottom/left
/// @param {number} $amount
@mixin margins-but($child, $side, $amount) {
    margin-#{$side}: $amount;
    @if $child == "last" or $child == "both" {
        &:last-child {
            margin-#{$side}: 0;
        }
    }
    @if $child == "first" or $child == "both" {
        &:first-child {
            margin-#{$side}: 0;
        }
    }
}
