a.sceditor-button {
    &-undobtn div {
        background-size: cover;
        background-image: url('/img/icon_undo.png');
    }

    &-redobtn div {
        background-size: cover;
        background-image: url('/img/icon_redo.png');
    }
}
