$m-main: 20px;
$wh-search: 35px;
$ml-inlinelist: 5px;

// --- Bootstrap --- //

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
