$m-main: 20px;
$p-main: 12px;
$h-footer: 40px;
$wh-search: 35px;
$ml-inlinelist: 5px;

// --- Bootstrap --- //

$body-bg: #f5f8fa;
$line-height-base: 1.6;
$font-size-base: 0.9rem;
$font-family-sans-serif: "Raleway", sans-serif;
