a {
    text-decoration : none;
}

fieldset {
    margin-bottom : 5px;
}

legend {
    padding-right : 5px;
}

nav ul {
    display : flex;
}

input, textarea, select, button {
    font : inherit;
}

input[type="submit"],
input[type="button"] {
    cursor : pointer;
}
