.main-table {
    width: 100%;
    font-size: 0.95em;
    margin-top: $margin;
    border: 1px solid $border-color;
    background-color: $bgc-maintable;
    @include margins-but(last, bottom, $margin);

    a {
        color: $c-maintablelink;

        &:hover {
            color: $c-maintablelink-hover;
        }
    }

    caption {
        font-size: 1.1em;
        caption-side: top;
        padding-left: 0.75rem;
        color: $c-captionlink;
        background-color: $bgc-caption;

        a {
            color: $c-captionlink;

            &:hover {
                color: $c-captionlink-hover;
            }
        }
    }

    tr {
        border: 1px solid $border-color;
    }

    td {
        padding: 5px 10px;
        white-space: nowrap;

        &.icon {
            padding: 0 0 0 5px;
            text-align: center;

            img {
                width: 60px;
            }
        }

        &.main-info {
            width: 100%;
            padding-right: 0;
            position: relative;

            .name {
                font-size: 1.05em;
                font-weight: bold;
                white-space: pre-line;
                display: inline-block;
            }
        }
    }

    .iconpost {
        vertical-align: baseline;
    }

    .subforum-list {
        @include unstyle-list;
    }

    .sort-bar {
        margin-bottom: 0;

        ul {
            display: flex;
        }

        li {
            margin-right: 10px;
        }

        a {
            display: block;
            padding: 0 5px;
        }
    }

    .post-info {
        display: flex;
        align-items: center;

        img {
            overflow: hidden;
            margin-right: 8px;
        }

        ul {
            @include unstyle-list;
        }
    }

    .post-list {
        list-style: none;

        li {
            padding-left: 8px;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
}
