.top-box {
    margin-top: $margin;

    ul {
        display: flex;
        flex-wrap: wrap;
        @include unstyle-list;
    }

    .path {
        li {
            &:after {
                content: "#{$NBSP}#{$RARROW}#{$NBSP}";
            }
            &:last-child:after {
                content: "";
            }
        }
    }

    .page-info {
        margin-top: $margin;

        .title {
            width: 100%;

            h1 {
                margin: 0 50px 10px 0;
                font-weight: 500;
            }
        }

        .desc {
            margin: 0 0 10px 0;
        }

        .mods {
            display: flex;

            ul {
                margin-left: $ml-inlinelist;
                @include comma-separated-list;
            }
        }
    }

}
