.post {
    padding: 12px;
    border: 1px solid $bc-main;
    background-color: $bgc-main;
    @include margins-but(last, bottom, $m-main);

    .profile {
        flex-basis: 20%;
        padding-bottom: 5px;
        padding-right: 20px;
        white-space: nowrap;
        @include unstyle-list;
    }

    .body {
        flex-grow: 1;
        min-width: 0;
        color: $c-post;
        flex-basis: 80%;
    }

    .content {
        margin-top: 6px;
        padding-top: 12px;
        word-wrap: break-word;
        border-top: 1px solid $bc-main;

        ul,
        ol,
        table {
            margin: 6px 0;
        }

        hr {
            color: $c-posthr;
            background-color: $c-posthr;
        }

        code {
            padding: 1em;
            display: block;
            direction: ltr;
            overflow: auto;
            margin: .25em 0;
            white-space: pre;
            text-align: left;
            background: #f1f1f1;
            background-color: $bgc-code;
        }

        ul,
        ol {
            padding-top: 0;
            padding-bottom: 0;
        }

        table,
        td {
            empty-cells: show;
            border: 1px solid #000;
        }

        td {
            padding: 5px;
            min-width: 5px;
        }

        blockquote {
            background: #fff7d9;
            margin: .25em 0;
            border-left: .3em solid #f4e59f;
            padding: .5em .5em .5em .75em;

            cite {
                font-weight: bold;
                display: block;
                font-size: 1em;
                margin: 0 -.5em .25em -.75em;
                padding: 0 .5em .15em .75em;
                border-bottom: 1px solid #f4e59f;
            }
        }
    }

    .author {
        padding: 0 0 5px 0;
        line-height: 1.2em;
        font-size: 0.846em;
        margin: 0 0 0.6em 0;
    }

    .signature {
        margin-top: 24px;
        padding-top: 12px;
        border-top: 1px solid $bc-main;
    }

    .back2top {
        display: flex;
        justify-content: flex-end;
    }

    .top {
        width: 11px;
        height: 11px;
        display: block;
        background-image: url(/img/icon_back_top.gif);
        @include text-hide;
    }

}


