.post {
    padding: 12px;
    border: 1px solid $border-color;
    background-color: $bgc-post;
    @include margins-but(last, bottom, $margin);

    .profile {
        flex-basis: 20%;
        padding-bottom: 5px;
        padding-right: 20px;
        white-space: nowrap;
        @include unstyle-list;
    }

    .body {
        flex-grow: 1;
        min-width: 0;
        color: $c-post;
        flex-basis: 80%;
    }

    .content {
        margin-top: 6px;
        padding-top: 12px;
        word-wrap: break-word;
        border-top: 1px solid $border-color;

        hr {
            color: $c-posthr;
            background-color: $c-posthr;
        }
    }

    .author {
        padding: 0 0 5px 0;
        line-height: 1.2em;
        font-size: 0.846em;
        margin: 0 0 0.6em 0;
    }

    .signature {
        margin-top: 24px;
        padding-top: 12px;
        border-top: 1px solid $border-color;
    }

    .back2top {
        display: flex;
        justify-content: flex-end;
    }

    .top {
        width: 11px;
        height: 11px;
        display: block;
        background-image: url(/img/icon_back_top.gif);
        @include text-hide;
    }

}


