form.profile fieldset {
    padding: 10px;
    padding-bottom: 0;
    border-radius: 10px;
    border: 1px solid $bc-main;
    @include margins-but(last, bottom, $m-main);
}

select[name=perPage] {
    width: auto;
    display: inline-block;

    &:first-child {
        margin-bottom: 15px;
    }

    &:nth-child(2) {
        margin-top: 15px;
    }
}

.avatar {
    &-small, &-medium, &-big {
        display: block;
    }

    &-small {
        width: 50px;
        height: 50px;
    }

    &-medium {
        width: 100px;
        height: 100px;
    }

    &-big {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 630px) {
    table.users .about {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    table.users {
        td {
            padding: 2px;
        }
    }
}
