@import "../partials/import";

@import "partials/buttons";
@import "partials/base";
@import "partials/footer";
@import "partials/table";
@import "partials/topbox";
@import "partials/permissions";
@import "partials/topic";
@import "partials/inputform";
@import "partials/textarea";
@import "partials/profile";
@import "partials/foruminfo";

.required-star {
    color: red;
    font-weight: bold;
}

.focused,
tr.focused td {
    z-index: 150;
    position: relative;
}

.main-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1100px;
}

