@import "../../partials/import";

@import "base";
@import "table";
@import "topic";
@import "topbox";
@import "buttons";
@import "foruminfo";
@import "permissions";

.main-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1100px;
}

.back2top {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    display: inline-block;
    background-image: url(/img/icon_back_top.gif);
    @include no-text;
}
