@import "../../partials/import";

@import "base";
@import "table";
@import "topic";
@import "topbox";
@import "buttons";
@import "permissions";

.back2top {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    display: inline-block;
    background-image: url('/images/icon_back_top.gif');
    @include no-text;
}

.trashed {
    opacity: 0.60;

    &:hover {
        opacity: 1;
    }
}
