body {
  .content-container {
    display : block;
  }

  &.sidebar {
    .content-container {
      display         : flex;
      justify-content : space-between;
    }
    main {
      width : 70%;
    }
  }

}

a {
  text-decoration : none;
}

fieldset {
  margin-bottom : 5px;
}

legend {
  padding-right : 5px;
}

nav ul {
  display : flex;
}

input, textarea, select, button {
  font : inherit;
}

input[type="submit"],
input[type="button"] {
  cursor : pointer;
}

header,
footer,
section {
  margin-bottom : 20px;
}

footer {
  margin-top : 50px;
}
