fieldset {
    p {
        margin-top: 0;
    }
}

.profile-display {
    display: flex;

    .info {
        margin-left: 10px;
    }
}

.online-status {
    width: 15px;
    height: 15px;
}

h2 .online-status {
    padding-left: 5px;
}

.avatar {

    &-small,
    &-medium,
    &-big {
        display: block;
    }

    &-small {
        width: 34px;
        height: 34px;
    }

    &-medium {
        width: 100px;
        height: 115px;
    }

    &-big {
        width: 150px;
        height: 172px;
    }
}