main > .post-list {
    margin : 0;
    padding : 0;
}

aside {
    width: 30%;
    padding-left: 10px;

    section {

        > .title {
            margin  : 0;
            padding : 9px;
        }

        > .content {
            padding : 10px;

            p:first-child {
                margin-top: 0;
            }

            p:last-child {
                margin-bottom : 0;
            }
        }

        &:last-child {
            margin-bottom : 0;
        }
    }
}

.sidebar-populartags li {
    margin-right : 5px;
    display      : inline-block;
}

.sidebar-recentstatuses {

    .updates {
        display    : block;
        margin-top : 15px;
    }

    .status {
        width : 100%;

        p {
            margin : 3px 0 4px;
        }

    }

}

.sidebar-tellafriend {

    p {
        margin-top : 0;
    }

    textarea,
    input[type="email"] {
        width      : 100%;
        margin-top : 5px;
        box-sizing : border-box;
    }

    textarea {
        resize     : vertical;
        min-height : 32px;
        max-height : 150px;
    }

    input[type="submit"] {
        padding : 4px 8px;
    }

}

.sidebar-newmessages {
    .post-list li {
        margin-bottom : 10px;
    }
}
