.main-table {
    width : 100%;
    @include margins-but(last, bottom, 20px);

    td {
        width       : 30%;
        padding     : 15px 30px;
        white-space : nowrap;

        &:first-child {
            width         : 100%;
            position      : relative;
            padding-left  : 50px;
            padding-right : 0;
        }
    }

}

.table-row {

    .icon {
        top               : 50%;
        left              : -28px;
        width             : 71px;
        height            : 47px;
        display           : block;
        position          : absolute;
        transform         : translateY(-(41px / 2));
        background-repeat : no-repeat;
    }

    .name {
        margin-bottom: 12px;
        white-space: pre-line;
        display: inline-block;
    }
}

.subforum-list {
    margin-top: 5px;
    list-style-type : none;
    padding-left    : 15px;

    li {
        margin-top : 3px;
    }
}

.sort-bar {
    margin-bottom : 0;

    ul {
        display : flex;
    }

    li {
        margin-right : 10px;
    }

    a {
        display : block;
        padding : 0 5px;
    }

}
