.textarea {

    &-title-row {
        margin-bottom: 10px;

        label {
            font-size: 1.1em;
            font-weight: bold;
            padding-bottom: 3px;
            display: inline-block;
        }

        input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    }

    &-submit-row {
        display         : flex;
        justify-content : space-between;
    }

}
