.post-container {
  padding : 6px;
}

.post-box {
  padding : 6px;
}

.post-head {

  .title {
    margin         : 0;
    padding-bottom : 8px;
  }

}

.post-body {
  display : flex;
}

.post-user,
.post-main {
  padding : 10px;
}

.post-user {
  width      : 15%;
  text-align : center;

  p {
    margin : 2px 0;
  }

  .avatar img {
    width : 40%;
  }

}

.post-main {
  width           : 85%;
  display         : flex;
  flex-flow       : column;
  justify-content : space-between;

  .buttons {
    display         : flex;
    justify-content : flex-end;

    li {
      margin-left : 10px;
    }
  }

}

.sceditor-container {
  box-sizing: border-box;
  max-width : 100%;
}

.new-post form {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

button[name=new-post] {
  padding: 5px 0;
}
