.header-top {
    padding         : 15px 0;
    display         : flex;
    align-items     : center;
    justify-content : space-between;

    .logo {
        width               : 234px;
        height              : 59px;
        background-repeat   : no-repeat;
        background-position : center center;

        a {
            @include full-block;
        }
    }
}

.search-form {
    display : flex;
    padding : 14px;

    .searchquery {
        border     : 0;
        width      : 250px;
        height     : 35px;
        display    : block;
        padding    : 0 0 0 5px;
        box-sizing : border-box;
    }

    .searchbtn {
        border              : 0;
        padding             : 0;
        width               : 35px;
        height              : 35px;
        display             : block;
        background-size     : 80%;
        background-repeat   : no-repeat;
        background-position : center center;

        @include hide-text;
    }
}

.main-navigation {
    display         : flex;
    justify-content : space-between;

    a {
        height         : 45px;
        padding        : 0 15px;
        display        : table-cell;
        vertical-align : middle;
    }

    ul {
        display : flex;
    }

    form {
        height : 100%;
    }

}
